<div class="container-fluid">
<aside
  class=" offcanvas active  offcanvas-start show navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
  id="sidenav-main" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard "
    target="_blank">
    <img src="../assets/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
    <span class="ms-1 font-weight-bold text-white">Sumago Training</span>
  </a>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <hr class="horizontal light mt-0 mb-2">
  <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white active bg-gradient-primary" routerLink="dashboard">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">dashboard</i>
          </div>
          <span class="nav-link-text ms-1">Dashboard</span>
        </a>
      </li>

      
      <li class="nav-item">
        <div class="dropdown">
          <a class="nav-link text-white  dropdown-toggle nav-link text-white" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">table_view</i>
            </div>
            <span class="nav-link-text ms-1">Home</span>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: 20px;">
            <li><a class="dropdown-item" routerLink="banner">Banner</a></li>
            <li><a class="dropdown-item"  routerLink="expert_review">Expert_Review</a></li>
            <li><a class="dropdown-item"  routerLink="certificate">Certificate</a></li>
            <!-- <li><a class="dropdown-item" routerLink="popular_course">Popular Course</a></li>
            <li><a class="dropdown-item"  routerLink="archievement">Archievement</a></li>
            <li><a class="dropdown-item"  routerLink="expert_review">Expert_Review</a></li>
            <li><a class="dropdown-item"  routerLink="consulting">Consulting</a></li>
            <li><a class="dropdown-item"  routerLink="add_logo">Add Logo</a></li>
            <li><a class="dropdown-item"  routerLink="add_product">Add Product</a></li> -->

          </ul>
        </div>


      </li>

      <li class="nav-item">
        <div class="dropdown">
          <a class="nav-link text-white  dropdown-toggle nav-link text-white" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">table_view</i>
            </div>
            <span class="nav-link-text ms-1">Data From Website</span>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: 20px;">
            <li><a class="dropdown-item" routerLink="apply_now">Apply Now</a></li>
            <li><a class="dropdown-item" routerLink="contact">Contact</a></li>
          </ul>
        </div>
      </li>


      <!-- <li class="nav-item">
        <a class="nav-link text-white  " routerLink="popular_course">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
          <span class="nav-link-text ms-1">Popular Course</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white  " routerLink="archievement">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
          <span class="nav-link-text ms-1">Archievement</span>
        </a>
      </li> -->
      <li class="nav-item">
        <div class="dropdown">
          <a class="nav-link text-white  dropdown-toggle nav-link text-white" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">receipt_long</i>
            </div>
            <span class="nav-link-text ms-1">About</span>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: 20px;">
            <li><a class="dropdown-item" routerLink="about">About</a></li>
            <li><a class="dropdown-item" routerLink="about_counter">About Counter</a></li>
            <li><a class="dropdown-item" routerLink="google_review"> Google Review</a></li>


          </ul>
        </div>

      </li>


      <!-- <li class="nav-item">
        <a class="nav-link text-white " routerLink="certificate">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">view_in_ar</i>
          </div>
          <span class="nav-link-text ms-1">Certificate</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white " routerLink="contact">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">view_in_ar</i>
          </div>
          <span class="nav-link-text ms-1">Contact</span>
        </a>
      </li> -->
      <!-- <li class="nav-item">
        <div class="dropdown">
          <a class="nav-link text-white  dropdown-toggle nav-link text-white" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">receipt_long</i>
            </div>
            <span class="nav-link-text ms-1">Event</span>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: 20px;">
            <li><a class="dropdown-item" routerLink="event">Event List</a></li>
            <li><a class="dropdown-item" routerLink="eventdata">Event Data</a></li>
          </ul>
        </div>

      </li> -->
      <li class="nav-item">
        <div class="dropdown">
          <a class="nav-link text-white  dropdown-toggle nav-link text-white" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">receipt_long</i>
            </div>
            <span class="nav-link-text ms-1">Our Program</span>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: 20px;">
            <!-- <li><a class="dropdown-item" routerLink="diploma_program_category">Our_Progarm List</a></li>
             -->
            <!-- <li><a class="dropdown-item" routerLink="broucher">Broucher</a></li> -->
            <li><a class="dropdown-item" routerLink="add_course">Add Course</a></li>
            <li><a class="dropdown-item" routerLink="add_subcourse">Add Sub Course</a></li>
            <li><a class="dropdown-item" routerLink="program_details">Program Details</a></li>
            <li><a class="dropdown-item" routerLink="subcourse_detail"> Sub Coures Detail</a></li>
            <li><a class="dropdown-item" routerLink="program-fees-list">Program Fees List</a></li>
            <li><a class="dropdown-item" routerLink="cohorts">Cohorts</a></li>
            <li><a class="dropdown-item" routerLink="handsonCategory">Handson Category</a></li>
            <li><a class="dropdown-item" routerLink="handsonProject">Handson Project Details</a></li>
          </ul>
        </div>

      </li>

      <li class="nav-item">
        <div class="dropdown">
          <a class="nav-link text-white  dropdown-toggle nav-link text-white" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">receipt_long</i>
            </div>
            <span class="nav-link-text ms-1">New Web</span>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton"  >

            <li><a class="dropdown-item" routerLink="hire">Hire</a></li>
            <li><a class="dropdown-item" routerLink="mentor">Mentor</a></li>
            <li><a class="dropdown-item" routerLink="faq"> Faq</a></li>
            <li><a class="dropdown-item" routerLink="alumini"> Alumini</a></li>
            <li><a class="dropdown-item" routerLink="Company_detail"> Company Detail</a></li>
            <li><a class="dropdown-item" routerLink="Office"> Our Offices</a></li>
            <li><a class="dropdown-item" routerLink="training_student"> Training Student</a></li>
            <li><a class="dropdown-item" routerLink="add_module"> Add Module</a></li>
            <li><a class="dropdown-item" routerLink="add_syllabus"> Add Syllabus</a></li>
            <li><a class="dropdown-item" routerLink="learner_review"> Learner Review</a></li>
            <li><a class="dropdown-item" routerLink="program_city"> Program City</a></li>
            <li><a class="dropdown-item" routerLink="highlights"> Highlights</a></li>
            <li><a class="dropdown-item" routerLink="apply_counselling"> Apply Counselling</a></li>
            <li><a class="dropdown-item" routerLink="course_highlights"> Course Highlights</a></li>


          </ul>
        </div>

      </li>





    </ul>
  </div>
</aside>

<main class="main-content main-part position-relative max-height-vh-100 h-100 border-radius-lg ps ps--active-y ">
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
    >
    <div class="container-fluid py-1 px-3">
      <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
          <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
        </ol>
        <h6 class="font-weight-bolder mb-0">Dashboard</h6>
      </nav> -->
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">

        <ul class="navbar-nav  justify-content-end">

          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a href="javascript:void(0)" class="nav-link text-body p-0" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
            
          </li>
          <li class="nav-item px-3 d-flex align-items-center" >
            <a href="javascript:;" class="nav-link text-body p-0">
              <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
            </a>
          </li>
          <li class="nav-item dropdown pe-2 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa fa-bell cursor-pointer"></i>
            </a>
            <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
              <li class="mb-2">
                <a class="dropdown-item border-radius-md" href="javascript:;">
                  <div class="d-flex py-1">
                    <div class="my-auto">
                      <img src="../assets/img/team-2.jpg" class="avatar avatar-sm  me-3 ">
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="text-sm font-weight-normal mb-1">
                        <span class="font-weight-bold">New message</span> from Laur
                      </h6>
                      <p class="text-xs text-secondary mb-0">
                        <i class="fa fa-clock me-1"></i>
                        13 minutes ago
                      </p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="mb-2">
                <a class="dropdown-item border-radius-md" href="javascript:;">
                  <div class="d-flex py-1">
                    <div class="my-auto">
                      <img src="../assets/img/small-logos/logo-spotify.svg"
                        class="avatar avatar-sm bg-gradient-dark  me-3 ">
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="text-sm font-weight-normal mb-1">
                        <span class="font-weight-bold">New album</span> by Travis Scott
                      </h6>
                      <p class="text-xs text-secondary mb-0">
                        <i class="fa fa-clock me-1"></i>
                        1 day
                      </p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item border-radius-md" href="javascript:;">
                  <div class="d-flex py-1">
                    <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                      <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>credit-card</title>
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                            <g transform="translate(1716.000000, 291.000000)">
                              <g transform="translate(453.000000, 454.000000)">
                                <path class="color-background"
                                  d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z"
                                  opacity="0.593633743"></path>
                                <path class="color-background"
                                  d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z">
                                </path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </svg>
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="text-sm font-weight-normal mb-1">
                        Payment successfully completed
                      </h6>
                      <p class="text-xs text-secondary mb-0">
                        <i class="fa fa-clock me-1"></i>
                        2 days
                      </p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a href="../pages/sign-in.html" class="nav-link text-body font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none" (click)="logout()">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

</main>

<router-outlet></router-outlet>