.sidenav{
    position: fixed;
}
@media (min-width: 1400px) { 

    .main-part{
        width: 80%;
        margin-left: 300px;
      
    }
    .main-part ul{
        float: right;
    }
 }
 
.dropdown-menu{
 width: 100px;
 margin-top: 0px;
    margin-left: 20px;
}


